@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4">Bienvenido al Instituto Montecastelo</h1>
    <p>Seleccione una opción:</p>

    <ul>
        <li>
            <a asp-controller="Asignaturas" asp-action="Lista">Asignatura</a>
        </li>
        <li>
            <a asp-controller="Estudiantes" asp-action="Lista">Estudiantes</a>
        </li>
        <li>
            <a asp-controller="Profesores" asp-action="Lista">Profesores</a>
        </li>
    </ul>
</div>
